body {
  margin: 0;
  background: black;
  overflow: hidden;
}
#display {
  font-size:   40px;
  font-family: monospace;
  color:       white;
  font-weight: lighter;
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -100%);
  pointer-events: none;
  height: 70px;
  transition: filter 0.05s ease-out;
  max-width: 500px;
  width: calc(100vw - 40px);
}
pre {
  display: inline;
}
.content {
  display: inline-block;
  position: relative;
  --unit: calc(100% / var(--len));
  overflow: hidden;
  transform: translateX(calc(calc(var(--unit) * var(--otr)) * -1));
  margin-left: calc(calc(50% - 24px));
  margin-bottom: 30px;
}
.content pre {
  mix-blend-mode: multiply;
  background: black;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #313131;
}
.content .focal {
  color: #ba76f1;
  text-decoration-color: #ba76f1;
  background: black;
  font-weight: normal;
  text-decoration: underline;
}


.mask {
  position: absolute;
  top: 0; bottom: 0;
}

.cursor {
  left: calc(var(--unit) * var(--cur));
  width: var(--unit);
  background: white;
  mix-blend-mode: difference;
  opacity: 0.11;
}

.correct {
  left: 0;
  width: calc(var(--unit) * var(--cur));
  background: black;
  opacity: 0.6;
  z-index: -1;
  mix-blend-mode: screen;
}

.wrong {
  left: calc(var(--unit) * var(--mis));
  width: calc(var(--unit) * calc(calc(var(--cur) + 1) - var(--mis)));
  background: red;
  mix-blend-mode: color;
}

input {
  width: 100vw;
  height: 100vh;
  opacity: 0.0;
}
input:not(:focus) ~ #display > * {
  filter: blur(2px);
}
input:not(:focus) ~ #display::after {
  /* content: 'Focus lost'; */
  /* position: fixed; */
  /* top: 50%; left: 0; right: 0; */
  /* text-align: center; */
  /* text-transform: Capitalize; */
}


#wpm {
  bottom: 50%;
  color: white;
  width: 100vw;
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
  font-family: monospace;
  position: relative;
  transform: translateY(-50%);
}

.hidden {
  display: none !important;
}

#display:not(.hidden) ~ #wpm {
  display: none;
}


#next {
  opacity: 0.25;
  font-size: 30;
}


#rest {
  font-size: 13px;
  display: inline;
  line-height: 1.6em;
  word-spacing: 0.1em;
  opacity: 0.8;
  text-align: center;
}
