body {
  margin: 0;
  background: black;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}
#display {
  font-family: monospace;
  color:       white;
  font-weight: lighter;
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -100%);
  pointer-events: none;
  height: 70px;
  transition: filter 0.05s ease-out, left 0.8s ease-out;
  max-width: 500px;
  width: calc(100vw - 40px);
}
pre {
  display: inline;
}


#current .content { --font-size: 40px; }
#next    .content { --font-size: 30px; }

.content {
  font-size: var(--font-size);
  --unit:  calc(var(--font-size) * 0.6);
  --wrong: calc(var(--unit) * calc(var(--cur) - var(--mis)));
}
.content {
  display: inline-block;
  position: relative;
  margin-left: calc(calc(50% - calc(var(--unit) * calc(var(--focus) + 1))));
  margin-bottom: 30px;
  clip-path: polygon(0 0, 200% 0, 200% 200%, 0 200%);
  margin-right: 30px;

  /* Red color visible at edges, in spite of clip-path */
  border-left: 2px solid black;
  border-top : 1px solid black;
}
#current .content {
  transition: margin-left calc(0.08s * var(--anim)) ease-out;
}

.content pre {
  background: black;
  border-bottom: 2px inset #ffffff4a;
  padding-bottom: 5px;
}
.content .tail::before /* focus */
{
  content: '';
  position: absolute;
  width: var(--unit);
  height: calc(100% + 5px);
  border-bottom: 2px solid rgba(255, 0, 255);
  background: #ba76f1;
  mix-blend-mode: multiply;
}
.content .tail::after /* red color visible */
{
  content: '';
  position: absolute;
  width: 2px;
  height: calc(100% + 7px);
  background: black;
}

.mask {
  position: absolute;
  top: 0;
}

.color {
  left:   0;
  height: calc(100% + 7px);

  width:     calc(var(--unit) * var(--cur));
  max-width: calc(var(--unit) * var(--mis));

  background: rgba(0,0,0,0.8);
  border-right: calc(var(--wrong) + 0.5px) solid red;
  /* + 0.5px so the entire underline gets covered */

  mix-blend-mode: multiply;
}
.color::after { /* color bug */
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: black;
  right: -1px;
}

.cursor {
  left: calc(var(--unit) * var(--cur));
  height: 100%;

  width:       var(--unit);
  background:  rgba(255,255,255,0.11);
  border-left: var(--wrong) solid rgba(255,0,0,0.22);

  clip-path: polygon(0 0, var(--unit) 0, var(--unit) 100%, 0 100%);
  background-blend-mode: difference;
}

input {
  width: 100vw;
  height: 100vh;
  opacity: 0.0;
}
input:not(:focus) ~ #display > * {
  /* filter: blur(2px); */
}
input:not(:focus) ~ #display::after {
  /* content: 'Focus lost'; */
  /* position: fixed; */
  /* top: 50%; left: 0; right: 0; */
  /* text-align: center; */
  /* text-transform: Capitalize; */
}


#wpm {
  bottom: 50%;
  color: white;
  width: 100vw;
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
  font-family: monospace;
  position: relative;
  transform: translateY(-50%);
}

.hidden {
  display: none !important;
}

#display:not(.hidden) ~ #wpm {
  display: none;
}


#next {
  opacity: 0.25;
}


#rest {
  font-size: 13px;
  display: inline;
  line-height: 1.6em;
  word-spacing: 0.1em;
  opacity: 0.8;
  text-align: center;
}

#difficulty {
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
  color: #888;
}

#main-menu:not(.active) { display: none; }
#main-menu.active ~ #display { left: -100%; }
#main-menu.active ~ input { display: none; }

#main-menu {
  color: purple;
  padding: 40px 15px 15px 15px;
  font-family: monospace;
  text-align: center;
  border-radius: 10px;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
#main-menu > .wrapper {
  max-width: 500px;
  width: calc(100vw - 40px);
}
#main-menu h2 {
  margin: 0;
  padding: 40px 0 20px 0;
  border-bottom: 1px solid;
  margin-bottom: 20px;
  font-size: 32px;
  text-transform: uppercase;
}
#main-menu textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  height: 80px;
  resize: none;
  padding: 7px 12px;
  color: white;
}
#main-menu button {
  padding: 7px 30px;
  color: #ba76f1;
  margin-bottom: 10px;
}
#main-menu textarea, #main-menu button {
  background: #111;
  border: 0;
  outline: 0;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,0.02);
}
#main-menu textarea:focus, #main-menu button:focus,
#main-menu textarea:hover, #main-menu button:hover {
  color: white;
  background: #222;
  box-shadow: 0 0 10px rgba(189, 121, 245, 0.3);
  position: relative;
}


#main-menu button[data-tooltip]:focus::after,
#main-menu button[data-tooltip]:hover::after
{
  content: attr(data-tooltip);
  position: absolute;
  background: rgba(79, 11, 130,0.8);
  color: white;
  width: max-content;
  max-width: 350px;
  font-size: 13px;
  transform: translateX(-50%);
  text-align: center;
  padding: 5px 17px;
  border-radius: 3px;
  margin-top: 5px;
  z-index: 1;
  display: block;
  margin-left: 50%;
  margin-top: 15px;
  left: 0;
}

#main-menu table {
  color: #ba76f1;
  font-size: 17px;
  width: 100%;
}
#main-menu table td:last-child {
  text-align: right;
}
