@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400&display=swap');

body {
  margin: 0;
  background: black;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}
#display {
  color:    white;
  position: fixed;
  pointer-events: none;
  height: 70px;
  width: calc(100vw - 40px);
  --size: 50px;
  margin-left: 20px;
}
pre {
  display: inline;
}
#display, #display .content pre {
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
}


.word.focus .content { --font-size: var(--size); }
.word       .content { --font-size: calc(var(--size) * 0.75); }

.word .content {
  font-size: var(--font-size);
  --unit:  calc(var(--font-size) * 0.6);
  --wrong: calc(var(--unit) * calc(var(--cur) - var(--mis)));
  min-height: var(--font-size);
}
.word .content {
  display: inline-block;
  position: relative;
  margin-left: calc(calc(50% - calc(var(--unit) * calc(var(--focus) + 0.5))));
  clip-path: polygon(0 0, 200% 0, 200% 200%, 0 200%);

  /* Red color visible at edges, in spite of clip-path */
  /* border-left: 2px solid black; */
  border-top : 3px solid black;
}
.word:last-of-type .content {
  margin-bottom: var(--font-size);
  margin-right:  30px;
}
.word.focus .content {
  transition: margin-left calc(0.08s * var(--anim)) ease-out;
}

.content pre {
  background: black;
  border-bottom: 2px inset #ffffff4a;
  padding-bottom: 5px;
}
.content .tail::before /* focus */
{
  content: '';
  position: absolute;
  width: var(--unit);
  height: calc(100% + 5px);
  border-bottom: 2px solid rgba(255, 0, 255);
  background: #ba76f1;
  mix-blend-mode: multiply;
}
.content .tail::after /* red color visible */
{
  content: '';
  position: absolute;
  width: 2px;
  height: calc(100% + 7px);
  background: black;
}
.content .tail {
  margin-left: -1px;
}

.mask {
  position: absolute;
  top: 0;
}

.color {
  left:   0;
  height: calc(100% + 7px);

  width:     calc(var(--unit) * var(--cur));
  max-width: calc(var(--unit) * var(--mis));

  background: rgba(0,0,0,0.8);
  border-right: calc(var(--wrong) + 0.5px) solid crimson;
  /* + 0.5px so the entire underline gets covered */

  mix-blend-mode: multiply;
}
.color::after { /* color bug */
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: black;
  right: -1px;
}

.cursor {
  left: calc(var(--unit) * var(--cur));
  height: 100%;

  width:       var(--unit);
  background:  rgba(255,255,255,0.14);
  border-left: var(--wrong) solid rgba(255,0,0,0.22);

  clip-path: polygon(0 0, var(--unit) 0, var(--unit) 100%, 0 100%);
  mix-blend-mode: difference;
  filter: blur(1px) contrast(0.7);
}

input {
  width: 100vw;
  height: 100vh;
  opacity: 0.0;
  position: fixed;
  top: 0;
}
input:not(:focus) ~ #display > * {
  /* filter: blur(2px); */
}
input:not(:focus) ~ #display::after {
  /* content: 'Focus lost'; */
  /* position: fixed; */
  /* top: 50%; left: 0; right: 0; */
  /* text-align: center; */
  /* text-transform: Capitalize; */
}

.hidden {
  display: none !important;
}

.word {
  max-height: calc(75vh - calc(calc(var(--size) * 2.325) + 60px));
}
.word:not(.focus) .content * {
  opacity: 0.25;
}


.word .rest {
  font-size: calc((var(--size) * 0.37));
  display: inline;
  line-height: 1.6em;
  word-spacing: 0.1em;
  opacity: 0.25;
  text-align: center;
}
.word .rest::before {
  content: '';
  position: absolute;
  left: 0; right: 0;
  height: 60vh;
  background: linear-gradient(transparent 50%, black);
  border-bottom: 40vh solid black;
}

#difficulty {
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
  color: #888;
}

#main-menu.active ~ input { display: none; }

#main-menu:not(.active) {
  height: 0;
  margin-top: 0;
}

#main-menu {
  color: purple;
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  text-align: center;
  border-radius: 10px;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  margin-top:    40px;
  margin-bottom: 13vh;

  transition: height 0.5s ease-out, margin 0.5s ease-out;
  height: 100%;
}
#main-menu > .wrapper {
  max-width: 500px;
  width: calc(100vw - 40px);
  transition: transform 0.5s ease-out;
  height: max-content;
  margin-bottom: 13vh;
}
#main-menu:not(.active) > .wrapper {
  transform: translateY(-100%);
}
#main-menu h2 {
  margin: 0;
  padding: 20px 0 7px 0;
  border-bottom: 1px solid;
  margin-bottom: 22px;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: lighter;
}
#main-menu textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  height: 80px;
  resize: none;
  padding: 7px 12px;
  color: white;
}
#main-menu button {
  padding: 7px 30px;
  color: #ba76f1;
  font-weight: normal;
}
#main-menu textarea, #main-menu button {
  background: #111;
  border: 0;
  outline: 0;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,0.02);
}
#main-menu textarea:focus, #main-menu button:focus,
#main-menu textarea:hover, #main-menu button:hover {
  color: white;
  background: #222;
  box-shadow: 0 0 10px rgba(189, 121, 245, 0.3);
  position: relative;
}
#main-menu p {
  font-family: monospace;
  font-size: 12px;
}


#main-menu button[data-tooltip]:focus::after,
#main-menu button[data-tooltip]:hover::after
{
  content: attr(data-tooltip);
  position: absolute;
  background: rgba(79, 11, 130,0.8);
  color: white;
  width: max-content;
  max-width: 350px;
  font-size: 13px;
  transform: translateX(-50%);
  text-align: center;
  padding: 5px 17px;
  border-radius: 3px;
  margin-top: 5px;
  z-index: 1;
  display: block;
  margin-left: 50%;
  margin-top: 15px;
  left: 0;
}



.game-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.player {
  max-width: 500px;
  flex: 1;
  display: grid;
  grid-row-gap: calc(var(--size) * 1.0);
}

.player .wpm
{
  text-align: center;
  font-size:  calc(var(--size) * 1.2);
  margin: 0;
}

.player:not(.done) .wpm { display: none; }
.player.done .word { visibility: hidden; }
.player.done .word.focus,
.player.done .word.focus ~ .word
{
  display: none !important;
}


#display .word.focus .peek .tail::before {
  background: #f83bca;
  transition: transform 0.5s ease-out;
}
#display .word.focus .tail::before {
  transition: background 0.8s ease-in;
}

.word.hidden {
  display: block !important;
  visibility: hidden;
}

#main-menu section {
  display: grid;
  grid-gap: 5px;
}
#main-menu h2, #main-menu p, #main-menu textarea {
  grid-column-start: 1;
  grid-column-end:   4;
  -webkit-highlight: green;
}
#main-menu textarea + button {
  grid-column-start: 2;
}
#main-menu section[name='stats'] h2 {
  grid-column-start: 1;
  grid-column-end:   3;
}
#main-menu section[name='stats'] span {
  color:       #ba76f1;
  font-size: 17px;
  font-weight: lighter !important;
}
#main-menu section[name='stats'] span:nth-child(even) {
  text-align: left;
  /* color: white; */
}
#main-menu section[name='stats'] span:nth-child(odd) {
  text-align: right;
}

